.sidebar,
.topbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  padding-top: 60px;
  box-shadow: inset 0 0 2px gray;
}


.sidebar a,
.topbar {
  display: block;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.topbar ul {
  display: flex;
  flex-direction: row;
  background: rgb(178, 115, 115);
}


.sidebar ul li,
.topbar ul li {
  list-style: none;
}

.sidebar ul li a,
.topbar ul li a {
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}

.sidebar ul li a.active,
.topbar ul li a.active {
  background: #333;
  color: #fff;
}



.__home-container {
  text-align: center;
  align-items: center;

  padding-top: 60px;
  padding-left: 130px;
  height: 100%;
  overflow-y: scroll;
}

.__full-container {
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  align-items: center;
}


@media only screen and (max-width: 700px) {

  .topbar ul {
    display: flex;
    background: green;

  }

  .topbar ul li a {
    background: green;
    font-size: 12px;
  }

  .topbar ul li a:hover {
    background: rgb(86, 163, 152);
  }


}